.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Work Sans";
  src: url("/fonts//static//WorkSans-Regular.ttf") format("truetype");
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
